/FaceStruct.class
/TrackFaceInfo.class
/FaceBox.class
/DetectConf.class
/TrackConf.class
/CropFaceConf.class
/ActionLiveConf.class
/Landmarks.class
/HeadPose.class
/Attribute.class
/EyeClose.class
/GazeInfo.class
/Occlusion.class
/Feature.class
/FeatureInfo.class
/LivenessFeatureInfo.class
/LiveFeatureInfo.class
/LivenessInfo.class
/DepthLivenessInfo.class
/RgbDepthInfo.class
